@font-face {
  font-family: rubik;
  src: url(./fonts/Rubik/Rubik-SemiBold.ttf);
}

@font-face {
  font-family: roboto;
  src: url(./fonts/Roboto/Roboto-Regular.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #23272f;
}

#logo {
  height: 200px;
  width: auto;
}
#logo-holder {
  margin-left: 2vw;
}

.navigation {
  height: 10.5vh;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  background-color: #23272f;
}

.nav_headline {
  font-family: Roboto;
  font-size: 2.5em;
}

.card_header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p_center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10vw;
  margin-right: 10vw;
}

.welcome_header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: auto;
  margin-bottom: 8px;
  max-width: 740px;
  font-size: 1.5em;
  margin-left: 7vw;
  margin-right: 7vw;
  color: #f6f7f9;
  line-height: 2rem;
}

.larger_header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: auto;
  margin-bottom: 8px;
  max-width: 740px;
  margin-left: 7vw;
  margin-right: 7vw;
  font-size: 1.8em;
  color: #149eca;
}

.text_header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: auto;
  margin-bottom: 8px;
  max-width: 740px;
  margin-left: 7vw;
  margin-right: 7vw;
  font-size: 1.25rem;
  line-height: 2.031rem;
  color: #f6f7f9;
}

.welcome_button_holder {
  margin-top: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome_button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.23em;
  width: 15vw;
  min-width: 150px;
  height: 7vh;
  white-space: normal;
  word-wrap: break-word;
  text-align: center;
  color: #f6f7f9;
  background-color: #087ea4;
  padding: 14px 24px;
  border-radius: 4px;
  cursor: pointer;
  border-width: 0;
}

.welcome_button:hover {
  background-color: #149eca;
}

.start_button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.23em;
  width: 15vw;
  min-width: 150px;
  height: 7vh;
  white-space: normal;
  word-wrap: break-word;
  text-align: center;
  color: #f6f7f9;
  background-color: #087ea4;
  padding: 14px 24px;
  border-radius: 50px;
  cursor: pointer;
  border-width: 0;
}

.start_button:hover {
  background-color: #149eca;
}

.board_area {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1vw;
  width: 100%;
  height: auto;
}

.score_board {
  height: 250px;
  width: 100%;
  display: flex;
  position: relative;
}

.score_board::after {
  content: '';
  background-image: url('./images/marvel_comp.jpg');
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.quote_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.quote {
  color: #f6f7f9;
  font-size: 2.2em;
  text-align: center;
  font-family: rubik, helvetica, arial, sans-serif;
  cursor: pointer;
}

.score_wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
}

.score_container {
  text-align: center;
}

.score_heading {
  color: #f6f7f9;
  font-size: calc(0.10526vw + 0.97368rem);
  font-family: roboto;
}

.score {
  color: #d3af37;
  font-size: 2em;
  font-family: roboto;
}

.game_area {
  display: flex;
  margin: 1vw;
}

.game_board {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: auto;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.image_holder {
  width: 13rem;
  padding: 0.5em;
  height: auto;
  margin: 30px;
  background-color: #16181d;
  border-radius: 10px;
  position: relative;
  text-align: center;
}

.character_image {
  width: 12rem;
  height: auto;
  margin: 10px auto 5px auto;
}

.character_name {
  color: #f6f7f9;
  font-size: 1.25em;
}
